<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- search engine -->
  <meta name="author" content="jjgodcom">
  <meta name="description" content="jjgodcom의 프론트 백앤드 정보 정리 사이트 입니다.">
  <meta name="keywords" content="웹 퍼블리셔, 웹 표준, 웹 접근성, 화려한 디자인, jjgodcom, publisher, css3, html, markup, design">
  <meta name="subject" content="jjgodcom의 프론트 백앤드 정보 정리 사이트 입니다.">
  <title>JJGODCOM</title>

  <!-- web_font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gaegu:300,400,700" rel="stylesheet">
  <!-- ico -->
  <link rel="apple-touch-icon" sizes="57x57" href="../../resources/ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../resources/ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../resources/ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../resources/ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../resources/ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../resources/ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../resources/ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../resources/ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../resources/ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../resources/ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../resources/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../resources/ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../resources/ico/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- css -->
  <link rel="stylesheet" href="../../resources/css/global/reset.css">
  <link rel="stylesheet" href="../../resources/css/views/theme.css">
  <!-- js -->
  <script src="../../resources/js/jquery-3.1.0.min.js"></script>
  <script src="../../resources/js/global.js"></script>
  <script src="../../resources/js/random_rgba.js"></script>
  <!-- prism -->
  <link rel="stylesheet" href="../../resources/css/global/prism.css">
  <script src="../../resources/js/prism.js"></script>

  <!-- hmlt5 support -->
	<!--[if lt IE 9]><script src="assets/js/html5shiv.js"></script><![endif]-->
	
	<!-- IE6,7 support -->
	<!--[if lte IE 7]><link rel="stylesheet" href="comm/css/ie7.css" type="text/css" ><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" href="comm/css/ie8.css" type="text/css" ><![endif]-->
	
	<!--[if lte IE 6]>
	<p style="font-size: 12px; color: #fff; background: #2885b0; padding:5px 0; margin: 0; text-align: center">
	사용하고 계신 브라우저는 최신 웹 브라우저가 아닙니다. 업그레이드를 하거나 다른 최신 브라우저 사용을 권장합니다.
	<a href="http://www.microsoft.com/korea/ie" target="_blank" >업그레이드,</a>
	<a href="http://www.mozilla.or.kr/ko/" target="_blank">파이어폭스,</a> 
	<a href="http://kr.opera.com/download/" target="_blank">오페라,</a>,
	<a href="http://support.apple.com/kb/DL1531?viewlocale=ko_KR&locale=ko_KR" target="_blank">사파리,</a>
	<a href="http://www.google.com/chrome?hl=ko" target="_blank">크롬</a></p>
	<![endif]-->
  
</head>
<body>
  <!-- top_nav -->
  <nav id="top_nav">
    <div class="container">
      <a class="logo" href="http://jjgodcom.com/">
        <img src="../../resources/images/global/logo.png" alt="logo" title="title">
      </a>
      <a class="gitHub" target="_blank" href="https://github.com/jjgodcom">GitHub</a>
    </div>
  </nav>
  <!-- //nav -->
  <!-- header -->
  <header id="header">
    <div class="container">
      <h1>JavaScript Reference v2.0</h1>
      <a href="http://jjgodcom.com/">jjgodcom.com</a>
    </div>
  </header>
  <!-- //header -->
  <!-- main -->
  <main id="main">
    <div class="container">
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">자료형</h2>
        <h3 class="section_mid_title">String</h3>
        <ul class="small">
          <li>문자 데이터</li>
          <li>따옴표를 사용합니다.</li>
          <li>
            <code class="code">'</code>, 
            <code class="code">"</code>, 
            <code class="code">`</code>
          </li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let myName = "JJGODCOM";
let email = 'jjgodcom1@gmail.com';
let hello = `hello ${myName}?!`;

console.log(myName); // JJGODCOM
console.log(email); // jjgodcom1@gmail.com
console.log(hello); // Hello JJGODCOM?!
        </code>
        </pre>
        <h3 class="section_mid_title">Number</h3>
        <ul class="small">
          <li>숫자 데이터</li>
          <li>정수 및 부동소수점 숫자를 나타냅니다.</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let number = 123;
let opacity = 1.57;

console.log(number); // 123
console.log(opacity); // 1.57
        </code>
        </pre>
        <h3 class="section_mid_title">Undefined</h3>
        <ul class="small">
          <li>값이 할당되지 않은 상태를 나타냅니다.</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let undef;
let obj = { abc: 123};

console.log(undef); // Undefined
console.log(obj.abc); // 123
console.log(obj.x); // Undefined 
        </code>
        </pre>
        <h3 class="section_mid_title">Null</h3>
        <ul class="small">
          <li>어떤 값이 의도적으로 <span class="custom_underline">비어있음</span>을 의미합니다.</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let empty = null;

console.log(empty); // null
        </code>
        </pre>
        <h3 class="section_mid_title">Object</h3>
        <ul class="small">
          <li>객체 데이터</li>
          <li>여러 데이터를 <code class="code">{Key: Value}</code>형태로 저장합니다.</li>
          <li><code class="code">{ }</code> 사용함</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let user = {
  // Key: Value,
  name: 'jjgodcom',
  age: 1994,
  isValid: true
};

console.log(user.name); // jjgodcom
console.log(user.age); // 1994
console.log(user.isValid); // true
        </code>
        </pre>
        <h3 class="section_mid_title">Array</h3>
        <ul class="small">
          <li>배열 데이터</li>
          <li>여러 데이터를 순차적으로 저장합니다. </li>
          <li><code class="code">[ ]</code> 사용함</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let fruits = ['Apple', 'Banana', 'Cherry'];

console.log(fruits[0]); // Apple
console.log(fruits[1]); // Banana
console.log(fruits[2]); // Cherry
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">변수</h2>
        <ul class="small">
          <li>데이터를 저장하고 참조(사용)하는 <span class="custom_underline">데이터의 이름</span></li>
          <li>
            <code class="code">var</code>, 
            <code class="code">let</code>, 
            <code class="code">const</code>
          </li>
          <li><code class="code">let</code> : 값(데이터)의 재할당 <span class="custom_underline">가능</span></li>
          <li><code class="code">const</code>: 값(데이터)의 재할당 <span class="custom_underline">불가능</span></li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
// 변수 선언!
let a = 2;
let b = 5;

console.log(a + b); // 7
console.log(a - b); // -3
console.log(a * b); // 10
console.log(a / b); // 0.4

// 값(데이터)의 재할당 가능!
a = 999;
console.log(a); // 999

// 값(데이터)의 재할당 불가!
const c = 12;
console.log(c); // 12
c = 999;
console.log(c); // TypeError: Assignment to constant variable.
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">예약어</h2>
        <ul class="small">
          <li>특별한 의미를 가지고 있어, 변수나 함수 이름 등으로 사용할 수 없는단어</li>
          <li>
            <code class="code">this</code>,
            <code class="code">if</code>,
            <code class="code">break</code> 등
          </li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let this = 'Hello'; // SyntaxError
let if = 123; // SyntaxError
let break = true; // SyntaxError
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">함수</h2>
        <ul class="small">
          <li>특정 동작(기능)을 수행하는 일부 코드의 집합(부분)</li>
          <li>
            <code class="code">function(){}</code>
          </li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
// 함수 선언
function helloFunc() {
  // 실행 코드
  console.log(1234);
}

// 함수 호출
helloFunc(); // 1234
        </code>
        </pre>
        <pre class="line-numbers"><code class="language-js">
function helloFunc() {
  return 123;
}

const a = helloFunc();
console.log(a); // 123
        </code>
        </pre>
        <pre class="line-numbers"><code class="language-js">
function sum(a, b) { // a와 b는 매개변수(parameters)
  return a + b;
}

const a = sum(1, 2); // 1과 2는 인수(Arguments)
const b = sum(3, 4);
const c = sum(7, 2);

console.log(a,b,c); // 3, 7, 9
        </code>
        </pre>
        <pre class="line-numbers"><code class="language-js">
function sum(a, b) { // a와 b는 매개변수(parameters)
  return a + b;
}

const a = sum(1, 2); // 1과 2는 인수(Arguments)
const b = sum(3, 4);
const c = sum(7, 2);

console.log(a,b,c); // 3, 7, 9 
        </code>
        </pre>
        <pre class="line-numbers"><code class="language-js">
// 객체 데이터
const jjgodcom = {
  name: "jjgodcom",
  age: 1994,
  // 메소드(Method)
  getName: function(){
    return this.name
  }
}

const hisName = jjgodcom.getName();
console.log(hisName); // jjgodcom
// 혹은
console.log(jjgodcom.getName()); // jjgodcom
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">조건문</h2>
        <ul class="small">
          <li>조건의 결과(<code class="code">true</code>, <code class="code">false</code>)에 따라 다른 코드를 실행하는 구문</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
let isShow = true;
let checked = false;

// T 일경우 출력
if(isShow){
  console.log("show"); // show
}

// checked가 F 라 출력 안됨
if(checked){
  console.log("checked");
}
        </code>
        </pre>
        <pre class="line-numbers"><code class="language-js">
let flag = true;

// flag 가 T니깐 무조건 true 가 출력됨
if(flag){
  console.log(flag);
}else{
  console.log(false);
}
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">DOM API</h2>
        <h3 class="section_mid_title">document.querySelector();</h3>
        <p class="lead">HTML 요소(Element) 1개 검색/찾기</p>
        <pre class="line-numbers"><code class="language-js">
// HTML 요소(Element) 1개 검색/찾기
const boxEl = document.querySelector(".box");

// 핸들러(Handler, 실행할 함수)
boxEl.addEventListener("click", function () {
  console.log("클릭");
});

// 요소의 클래스 정보 객체 활용!
// active 클래스 추가 
boxEl.classList.add("active"); 
// 클래스 리스트 체크해서 클래스 있을경우 T or F 반환
let isContains = boxEl.classList.contains("active"); 
console.log(isContains); // true

// active 클래스 삭제
boxEl.classList.remove("active");
isContains = boxEl.classList.contains("active");
console.log(isContains); // false
          </code>
          </pre>
          <h3 class="section_mid_title">document.querySelectorAll();</h3>
          <p class="lead">HTMl 요소(Element) 모두 검색/찾기</p>
          <pre class="line-numbers"><code class="language-js">
// HTMl 요소(Element) 모두 검색/찾기
const boxEls = document.querySelectorAll(".box");
console.log(boxEls);

// 찾은 요소들 반복해서 함수 실행!
// 익명 함수를 인수로 추가
// 첫 번째 매개변수(boxEl): 반복 붕인 요소.
// 두 번쨰 매개변수(index): 반복 중인 번호. 0부터 카운트됨
boxEls.forEach(function (boxEl, index) {
  boxEl.classList.add(`order-${index + 1}`);
  console.log(index, boxEl);
});
          </code>
          </pre>
          <h3 class="section_mid_title">Getter</h3>
          <pre class="line-numbers"><code class="language-js">
const boxEl = document.querySelector(".box");

// Getter, 값을 얻는 용도
console.log(boxEl.textContent); // Box!!
          </code>
          </pre>
          <h3 class="section_mid_title">Setter</h3>
          <pre class="line-numbers"><code class="language-js">
const boxEl = document.querySelector(".box");

// Setter, 값을 지정하는 용도
boxEl.textContent = "JJGODCOM";
console.log(boxEl.textContent); // jjgodcom
          </code>
          </pre>
      </div>
      <!-- //doc_section -->
      <!-- doc_section -->
      <div class="doc_section">
        <h2 class="section_title">메소드 체이닝</h2>
        <p class="lead">한줄로 붙여서 작성 가능하게 하는것</p>
        <ul class="small">
          <li><code class="code">.split(' ')</code> : 문자를 인수 기준으로 쪼개서 <span class="custom_underline">배열</span>로 반환</li>
          <li><code class="code">.reverse</code> : 배열의 순서를 <span class="custom_underline">뒤집는다</span>.</li>
          <li><code class="code">.join(' ')</code> : 배열을 인수 기준으로 <span class="custom_underline">문자로 병합</span>해 변환</li>
        </ul>
        <pre class="line-numbers"><code class="language-js">
const a = 'Hello';
const b = a.split('').reverse().join(''); // 메소드 체이닝...

console.log(a); // Hello
console.log(b); // olleH
console.log(a.split('')); // ['H', 'e', 'l', 'l', 'o']
console.log(a.split('').reverse()); // ['o', 'l', 'l', 'e', 'H']
        </code>
        </pre>
      </div>
      <!-- //doc_section -->
    </div>
  </main>
  <!-- //main -->
  <!-- footer -->
  <footer id="footer">
    <div class="copyright">
      <div>Full-stack development</div>
      <div>JJGODCOM</div> 
    </div>
  </footer>
  <!-- //footer -->
</body>
</html>