// 대표적인 inline 태그
&lt;span&gt;
&lt;strong&gt;
&lt;em&gt;
&lt;b&gt;
&lt;img&gt;

&lt;title&gt;
&lt;meta&gt;
&lt;link&gt;
&lt;style&gt;
&lt;script&gt;



&lt;h1&gt; ~ &lt;h6&gt;
&lt;div&gt;
&lt;ul&gt;
&lt;ol&gt;
&lt;li&gt;
&lt;p&gt;
&lt;table&gt;
&lt;tr&gt;
&lt;th&gt;
&lt;td&gt;
&lt;thead&gt;
&lt;tbody&gt;
&lt;tfoot&gt;
&lt;br&gt;
&lt;section&gt;
&lt;main&gt;
&lt;header&gt;
&lt;footer&gt;
&lt;h1&gt; ~ &lt;h6&gt;
&lt;span&gt;
&lt;strong&gt;
&lt;em&gt;
&lt;b&gt;
&lt;img&gt;


&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Document&lt;/title&gt;
&lt;/head&gt;


&lt;html&gt;
&lt;head&gt;
	&lt;title&gt;meta 태그 속성&lt;/title&gt;
	&lt;meta charset="UTF-8"&gt;

	&lt;!-- 모바일에서 접속시 모바일크기에 맞춘 화면을 렌더링설정 --&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;!-- 페이지를 작성한 제작자명을 지정 --&gt;
    &lt;meta name="author" content="jjgodcom"&gt;
    &lt;!-- 검색 결과에 표시되는 문자를 지정합니다.--&gt;
    &lt;meta name="description" content="jjgodcom의 프론트 백앤드 정보 정리 사이트 입니다."&gt;
    &lt;!-- 검색 엔진에 의해 검색되는 단어를 지정합니다. --&gt;
    &lt;meta name="keywords" content="웹 퍼블리셔, 웹 표준, 웹 접근성, 화려한 디자인, jjgodcom, publisher, css3, html, markup, design"&gt;
    &lt;!-- 홈페이지 주제를 지정 --&gt;
    &lt;meta name="subject" content="jjgodcom의 프론트 백앤드 정보 정리 사이트 입니다."&gt;
&lt;/head&gt;
&lt;body&gt;
	...
&lt;/body&gt;
&lt;/html&gt;

&lt;head&gt;
    &lt;!-- 주로 외부 스타일 시트(external style sheet)를 연결할 때 사용됩니다. --&gt;
	&lt;link rel="stylesheet" href="경로.css" type="text/css"&gt;
&lt;/head&gt;

&lt;!-- HTML 내부 선언 --&gt;
&lt;head&gt;
	&lt;script type="text/javascript"&gt;
		document.write('Hello World!');
	&lt;/script&gt;
&lt;/head&gt;

&lt;!-- 외부 파일에서 불러오기 --&gt;
&lt;head&gt;
	&lt;script type="text/javascript" src="JS파일위치.js"&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;ol&gt;
	&lt;li&gt;목록1&lt;/li&gt;
	&lt;li&gt;목록2&lt;/li&gt;
&lt;/ol&gt;

&lt;header&gt;
    &lt;h3&gt;날씨 정보&lt;/h4&gt;
    &lt;h4&gt;2월 19일&lt;/h4&gt;
    &lt;p&gt;- 기상청 제공 -&lt;/p&gt;
&lt;/header&gt;

&lt;main&gt;
    &lt;h1&gt;바나나&lt;/h1&gt;
    &lt;p&gt;바나나는 바나나는 파초과 바나나 속에 속하는 숙근성 영년생 열대과수를 총칭한다.&lt;/p&gt;
    &lt;article&gt;
        &lt;h2&gt;다이어트 식품&lt;/h2&gt;
        &lt;p&gt;바나나는 탄수화물이 약 27%이고 비타민 A와 C가 풍부하며, 100g당 87kcal의 열량을 갖는다.&lt;/p&gt;
    &lt;/article&gt;
    &lt;article&gt;
        &lt;h2&gt;다양한 섭취법&lt;/h2&gt;
        &lt;p&gt;바나나는 열매를 주식으로 이용할 뿐 아니라 미성숙한 열매는 채소로 다양한 요리에 응용된다.&lt;/p&gt;
    &lt;/article&gt;
&lt;/main&gt;

&lt;nav&gt;
    &lt;a href="/html/intro"&gt;HTML&lt;/a&gt; |
    &lt;a href="/css/intro"&gt;CSS&lt;/a&gt; |
    &lt;a href="/javascript/intro"&gt;JavaScript&lt;/a&gt;
&lt;/nav&gt;

&lt;footer&gt;
    &lt;p&gt;Copyright © 2018 tcpschool.co.,Ltd. All rights reserved.&lt;/p&gt;
    &lt;address&gt;Contact webmaster for more information. 070-1234-5678&lt;/address&gt;
&lt;/footer&gt;

&lt;html lang="ko"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Sample01&lt;/title&gt;

    &lt;!-- jquery 설정 --&gt;
    &lt;script src="assets/js/jquery-1.12.4.min.js"&gt;&lt;/script&gt;

    &lt;!-- jquery UI 설정 --&gt;
    &lt;script src="assets/js/jquery-ui-1.12.1.min.js"&gt;&lt;/script&gt;

    &lt;!-- 구글  CDN 설정 --&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"&gt;&lt;/script&gt;
    &lt;script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"&gt;&lt;/script&gt;

&lt;/head&gt;
&lt;body&gt;

&lt;!DOCTYPE html&gt;
&lt;html lang="ko"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;자바스크립트 사용방법&lt;/title&gt;
    
    &lt;!-- 외부 파일로 로드하는 방법--&gt;
    &lt;script type="text/javascript" src="javascript.js"&gt;&lt;/script&gt;
    
    &lt;!-- script 태그 사이에 기술하는 방법--&gt;
    &lt;script type="text/javascript"&gt;
        document.write("hello");
    &lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;!-- 태그에 직접 기술하는 방법 --&gt;
    &lt;input type="button" onclick="alert('hello')" value="hello"&gt;
&lt;/body&gt;
&lt;/html&gt;    

&lt;script&gt;
    var str1 = "javascript";			//큰 따옴표
    var str2 = 'javascript';			//작은 따옴표
    var str3 = "hello 'javascript'";	//큰 따옴표 안에 작은 따옴표
    var str4 = 'hello "javascript"'; 	//작은 따옴표 안에 큰 따옴표
    var str5 = "hello\njavascript";		//줄바꿈
    var str6 = "hello\'javascript\'";	//작은 따옴표
    var str7 = "hello\"javascript\"";	//큰 따옴표

    document.write(str1);
    document.write("&lt;br&gt;");
    document.write(str2);
    document.write("&lt;br&gt;");
    document.write(str3);
    document.write("&lt;br&gt;");
    document.write(str4);
    document.write("&lt;br&gt;");
    alert(str5);
    alert(str6);
    alert(str7);
  &lt;/script&gt;
  
&lt;script&gt;
    var x1 = 1000;		//(전역)변수 x1에 숫자를 1000을 저장
    var x2 = 2000;		//(전역)변수 x2에 숫자를 2000을 저장
    var x3;				//(전역)변수 x3를 선언

    x1 = 100;			//(전역)변수 x1에 숫자를 1000에서 100으로 변경
    x2 = 200;			//(전역)변수 x2에 숫자를 2000에서 200으로 변경

    function func(){
        var x1 = 3000;	//(지역)변수 x1에 숫자를 3000을 저장
        var x2 = 4000;	//(지역)변수 x2에 숫자를 4000을 저장

        x1 = 300;		//(지역)변수 x1에 숫자를 3000에서 300으로 변경
        x2 = 400;		//(지역)변수 x2에 숫자를 4000에서 400으로 변경
        x3 = 500;		//(전역)변수 x3에 숫자를 500을 저장

        document.write("함수 안&lt;br&gt;");
        document.write(x1);
        document.write("&lt;br&gt;");
        document.write(x2);
        document.write("&lt;br&gt;");
        document.write(x3);
        document.write("&lt;br&gt;&lt;br&gt;");
    }
    func();

    document.write("함수 밖&lt;br&gt;");
    document.write(x1);
    document.write("&lt;br&gt;");
    document.write(x2);
    document.write("&lt;br&gt;");
    document.write(x3);
&lt;/script&gt;

&lt;script&gt;
    //화면에 숫자 1000을 출력하세요!!
    document.write(1000);
    document.write("&lt;br&gt;&lt;br&gt;");

    //화면에 문자 javascript를 출력하세요!!
    document.write("javascript");
    document.write("&lt;br&gt;&lt;br&gt;");

    //변수(x1)에 문자열 "html"을 저장하고 출력하세요!!
    var x1 = "html";
    document.write(x1);
    document.write("&lt;br&gt;&lt;br&gt;");

    //함수(func1)를 이용해서 화면에 "CSS"를 출력하세요!!
    function func1(){
        document.write("CSS");
        document.write("&lt;br&gt;&lt;br&gt;");
    }
    func1();

    //매개변수를 이용해서 화면에 "jQuery"를 출력하세요!!
    function func2(str){
        document.write(str);
        document.write("&lt;br&gt;&lt;br&gt;");
    }
    func2("jQuery");

    //매개변수를 이용해서 화면에 "javascript + jquery"를 출력하세요!!
    function func3(str1, str2){
        document.write(str1, " + " + str2);
        document.write("&lt;br&gt;&lt;br&gt;");
    }
    func3("javascript","jquery");
&lt;/script&gt;

&lt;script&gt;
    var x1 = 30;				//숫자 저장
    var x2 = "30";				//문자열 저장
    var x3 = "javascript";		//문자열 저장
    var x4;						//선언
    var x5 = function(){};		//함수 저장
    var x6 = {};				//객체 저장
    var x7 = Symbol();			//심볼 저장

    document.write(typeof(x1));
    document.write("&lt;br&gt;");
    document.write(typeof(x2));
    document.write("&lt;br&gt;");
    document.write(typeof(x3));
    document.write("&lt;br&gt;");
    document.write(typeof(x4));
    document.write("&lt;br&gt;");
    document.write(typeof(x5));
    document.write("&lt;br&gt;");
    document.write(typeof(x6));
    document.write("&lt;br&gt;");
    document.write(typeof(x7));
    document.write("&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
    //변수 x = 100; 변수 y = 200 저장한 다음 출력해주세요!!
    var x = 100;
    var y = 200;

    document.write(x);
    document.write("&lt;br&gt;");
    document.write(y);
    document.write("&lt;br&gt;&lt;br&gt;");

    //배열을 이용해서 화면에 100과 200을 출력하세요!
    var arr1 = new Array();
    arr1[0] = 100;		//첫번째 배열 저장소에 100을 저장
    arr1[1] = 200;		//두번째 배열 저장소에 200을 저장

    document.write(arr1[0]);
    document.write("&lt;br&gt;");
    document.write(arr1[1]);
    document.write("&lt;br&gt;&lt;br&gt;");

    //배열을 선언과 동시에 초기화하여 100과 200을 출력하세요!!
    var arr2 = new Array(100,200);

    document.write(arr2[0]);
    document.write("&lt;br&gt;");
    document.write(arr2[1]);
    document.write("&lt;br&gt;&lt;br&gt;");

    //배열을 선언하지 않고 100과 200을 출력하세요!!
    var arr3 = [100,200];

    document.write(arr3[0]);
    document.write("&lt;br&gt;");
    document.write(arr3[1]);
    document.write("&lt;br&gt;&lt;br&gt;");

    //배열의 크기 구하기
    var arr4 = [100,200,300,400,500];

    document.write(arr4.length);
    document.write("&lt;br&gt;&lt;br&gt;");

    //배열 가져오기
    var arr5 = [100,200,300,400,500];

    for(var i=0; i&lt;arr5.length; i++){
        document.write(arr5[i], "&lt;br&gt;");
    }

    //배열의 합 구하기
    var arr6 = [100,200,300,400,500];
    var sum = 0;

    for(var i=0; i&lt;arr6.length; i++){
        // sum = 100+200+300+400+500;
        // sum = arr5[0]+arr5[1]+arr5[2]+arr5[3]+arr5[4]
        // sum = arr5[i]+arr5[i]+arr5[i]+arr5[i]+arr5[i]
        sum = sum + arr6[i];
        // 0 	=  0  + 100;
        // 100 = 100 + 200;
        // 300 = 300 + 300;
        // 600 = 600 + 400;
        // 1000= 1000+ 500;
        // 1500
    }
    document.write("&lt;br&gt;");
    document.write(sum);
&lt;/script&gt;

&lt;script&gt;
    var x = 100;
    var y = 200;

    document.write(x + y); //300
    document.write("&lt;br&gt;");
    document.write(x - y); //-100
    document.write("&lt;br&gt;");
    document.write(x * y); //20000
    document.write("&lt;br&gt;");
    document.write(x / y); //0.5
    document.write("&lt;br&gt;");
    document.write(x % y); //100
    document.write("&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
    var x = 10;
    var	y = 20;

    //x = x + 10;
    //x += 10;
    
    //y = y - 10;
    //y -= 10

    //x = x * 10;
    //x *= 10;

    //y = y / 10;
    //y /= 10;

    //x = x % 10;
    //x %= 10;

    document.write(x);
&lt;/script&gt;

&lt;script&gt;
    var table = "&lt;table border='1'&gt;";
    table += "&lt;tr&gt;";
    table += "&lt;td&gt;1&lt;/td&gt;&lt;td&gt;2&lt;/td&gt;&lt;td&gt;3&lt;/td&gt;";
    table += "&lt;/tr&gt;";
    table += "&lt;/table&gt;";

    document.write(table);
    console.log(table);
&lt;/script&gt;


&lt;script&gt;
    var num1 = 10;
    var num2 = 20;
    var result;

    num1--;		//9
    document.write(num1, "&lt;br&gt;");

    num1++;		//10
    document.write(num1, "&lt;br&gt;");

    result = num2++;	//20, 21
    document.write(result, "&lt;br&gt;");
    document.write(num2, "&lt;br&gt;");

    result = ++num2;	//22, 22
    document.write(result, "&lt;br&gt;");
    document.write(num2, "&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
    var x = 10;
    var y = 20;		//숫자
    var a = 10;
    var b = "20";	//문자열

    document.write(x == y);		//false
    document.write("&lt;br&gt;");
    document.write(x == a);		//true
    document.write("&lt;br&gt;");
    document.write(y == b);		//true
    document.write("&lt;br&gt;");
    document.write(y === b);	//false
    document.write("&lt;br&gt;");
    document.write(x != a);		//false
    document.write("&lt;br&gt;");
    document.write(x !== a);	//false
    document.write("&lt;br&gt;");
    document.write(x &gt; y);		//false
    document.write("&lt;br&gt;");
    document.write(x &lt; y);		//ture
    document.write("&lt;br&gt;");
    document.write(x &gt;= y);		//false
    document.write("&lt;br&gt;");
    document.write(x &lt;= y);		//true
    document.write("&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
    var a = 10;
    var b = 20;

    document.write( false || false); 	//false
    document.write("&lt;br&gt;");
    document.write( false || true);     //true
    document.write("&lt;br&gt;");
    document.write( true || true);      //true
    document.write("&lt;br&gt;");

    document.write( false && false);	//false
    document.write("&lt;br&gt;");
    document.write( false && true);		//false
    document.write("&lt;br&gt;");
    document.write( true && true);		//true
    document.write("&lt;br&gt;");

    document.write( !true );					//false
    document.write("&lt;br&gt;");
    document.write( !false );					//ture
    document.write("&lt;br&gt;");

    document.write( a &gt; b && a &lt; b);  			//false;
    document.write("&lt;br&gt;");
    document.write( a &gt; b && a &lt; b && a &gt;= b);  //false;
    document.write("&lt;br&gt;");
    document.write( a &gt; 200 || 50 &lt; b);  		//false;
    document.write("&lt;br&gt;");
    document.write( !(a &gt; 200));  				//true;
    document.write("&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
    var x1 = 100;			//숫자(number)
    var x2 = "javascript";	//문자(string)
    var x3 = "100";			//문자(string)
    var x4 = "200";			//문자(string)

    document.write(typeof(x1));
    document.write("&lt;br&gt;");
    document.write(x1 + 100);		//숫자 + 숫자
    document.write("&lt;br&gt;");
    document.write(x1 + x2);		//숫자 + 문자
    document.write("&lt;br&gt;");
    document.write(x3 + x4);		//문자 + 문자
    document.write("&lt;br&gt;");
    document.write(x1 + true);		//숫자 + 불린
    document.write("&lt;br&gt;");
    document.write(x1 + null);		//숫자 + 특수값
    document.write("&lt;br&gt;");
    document.write(true + true);	//불린 + 불린
    document.write("&lt;br&gt;");
    document.write(true + false);	//불린 + 불린
    document.write("&lt;br&gt;");
    document.write(true + null);	//불린 + 특수값
    document.write("&lt;br&gt;");

    x1 = "" + x1; 	//숫자를 문자열로 형 변환
    document.write(x1);
    document.write("&lt;br&gt;");
    document.write(typeof(x1));
&lt;/script&gt;

&lt;script&gt;
    //적정 체중 = (본인 신장 - 100) * 0.9;

    // var userHegiht = 174; 	//키
    // var userWeight = 90;	//몸무게
    // var normal = (userHegiht - 100) * 0.9;

    var name = prompt("당신의 이름은?","");
    var height = prompt("당신의 키는?", "0");
    var weight = prompt("당신의 몸무게는?", "0");

    var normal = (height - 100) * 0.9;
    var result = weight &gt;= normal - 5 && weight &lt;= normal + 5;
    //console.log(result);
    result = result ? "적정 체중입니다." : "적정 체중이 아닙니다.";
    document.write(name +"님은 "+ result);
&lt;/script&gt;

&lt;script&gt;
    // var price1 = 3000;
    // var price2 = 6000;
    // var price3 = 3000;

    // var total = price1 + price2 + price3;
    // var result =  total &gt; 10000  ? "초과되었습니다." : "돈 관리 잘했어요!";

    var price1 = prompt("당신의 교통비는?");
    var price2 = prompt("당신의 식비는?");
    var price3 = prompt("당신의 음료비?");

    price1 = Number(price1);
    price2 = Number(price2);
    price3 = Number(price3);

    var total = price1 + price2 + price3;
    
    console.log(total);
    var result =  total &gt; 10000  ? total - 10000 + "초과되었습니다." : "돈 관리 잘했어요!";

    document.write(result);
&lt;/script&gt;

&lt;script&gt;
    var x = 100;	//변수 x에 숫자를 100을 저장

    if(x &gt; 200){	//변수 x가 200보다 크면 실행(true)
        document.write(x);
    }

    if(x &lt; 200){	//변수 x가 200보다 작으면 실행(true)
        document.write(x,"&lt;br&gt;");
    }

    if(true){	
        document.write(x,"&lt;br&gt;");
    }

    if(false){	
        document.write(x,"&lt;br&gt;");
    }

    //통화량 구분하기
    var min = prompt("당신의 하루 통화량은 몇 분인가요?", "0");
    if(min &gt; 60){
        document.write("당신은 전화를 많이쓰네요~&lt;br&gt;");
    }

    //짝수 구분하기
    var num = prompt("숫자를 입력해 주세요!!&lt;br&gt;", "0");

    if(num % 2 == 0){
        document.write("당신이 입력한 숫자는 짝수입니다.&lt;br&gt;");
    }

    //조건식에 논리형 데이터가 아닌 다른 형이 오는 경우
    //0, null, ""(빈문자), undefined --&gt; true
    var y = 100;

    if(y){
        document.write(y,"&lt;br&gt;");
    }

    var useName = prompt("당신의 이름은 무엇입니다.","");
    if(useName){
        document.write(useName + "님 방갑습니다.");
    }
    //document.write(useName + "님 방갑습니다.");
    
    //if(useName) document.write(useName + "님 방갑습니다.");
&lt;/script&gt;

&lt;script&gt;
    //홀수 짝수 구분하기
    var num = prompt("당신이 좋아하는 숫자는?");

    if(num % 2 == 0){
        document.write("당신이 좋아하는 숫자는 짝수입니다.&lt;br&gt;");
    } else {
        document.write("당신이 좋아하는 숫자는 홀수입니다.&lt;br&gt;");
    }

    //아이디 비밀번호 구분하기
    var userID = prompt("아이디를 입력해주세요~");
    var userPW = prompt("비밀번호를 입력해주세요~");

    if(userID == "webstoryboy" && userPW == "1234"){
        document.write("환영합니다.&lt;br&gt;");
    } else {
        document.write("아이디 또는 비밀번호가 틀렸습니다.&lt;br&gt;");
    }

    //확인하기
    var result = confirm("정말로 회원을 탈퇴하시겠습니까?");

    if(result){
        document.write("탈퇴 처리되었습니다.");
    } else {
        document.write("탈퇴 취소되었습니다.");
    }
&lt;/script&gt;

&lt;script&gt;
    var x = 100;
    
    if (x == 90){
        document.write("x의 숫자는 90입니다.");
    } else if (x == 92) {
        document.write("x의 숫자는 92입니다.");
    } else if (x == 93) {
        document.write("x의 숫자는 93입니다.");
    } else if (x == 94) {
        document.write("x의 숫자는 94입니다.");
    } else if (x == 95) {
        document.write("x의 숫자는 95입니다.");
    } else if (x == 96) {
        document.write("x의 숫자는 96입니다.");
    } else if (x == 97) {
        document.write("x의 숫자는 97입니다.");
    } else if (x == 98) {
        document.write("x의 숫자는 98입니다.");
    } else {
        document.write("x의 숫자를 모르겠습니다ㅠㅠ.");
    }
    
    var useID = window.prompt("ID를 입력해주삼");
    var usePW = window.prompt("PW쓰삼");
    
    if (useID == "jjgodcom" && usePW == "1234"){
        alert("반갑소!");
    } else if (useID == "jjgodcom"){
        alert("패스워드가 틀렸습니다.");
    } else {
        alert("틀렸습니다.")
    }
&lt;/script&gt;

&lt;script&gt;
    var color = window.prompt("빨강, 파랑, 노랑, 검정, 흰색 중 가장 좋아하는 색을 적으세요")
    
    switch(color){
        case "빨강"   :
            document.write("빨강을 선택해?!?!?");
            break;
        case "파랑"   :
            document.write("파랑을 선택해?!?!?");
            break;
        case "노랑"   :
            document.write("노랑을 선택해?!?!?");
            break;
        case "노랑색"   :
            document.write("노랑을 선택해?!?!?");
            break;
        case "검정"   :
            document.write("검정을 선택해?!?!?");
            break;
        case "흰색"   :
            document.write("흰색을 선택해?!?!?");
            break;
        default :
            document.write("당신은 색을 볼 줄 모르는군요!");
            break;
    }
&lt;/script&gt;

&lt;script&gt;
    var site = window.prompt("네이버, 다음, 구글, 네이트 중 자주 가는 사이트는?");
    var url;
    
    switch(site){
        case "네이버" :
            url ="www.naver.com";
            break;
        case "다음" :
            url ="www.daum.net";
            break;
        case "구글" :
            url ="www.goggle.co.kr";
            break;
        case "네이트" :
            url ="www.nate.com";
            break;
        
        default :
            document.write("그런 사이트는 없따!")
    }
    if(url){
        location.href="http://"+ url;
    }
&lt;/script&gt;

&lt;script&gt;
    //if - else
    var value = window.prompt("숫자를 입력해주세요");
    value = parseInt(value);    //숫자로 인식할 수 있도록 형 변환
    
    if(value % 2 == 0){
        alert("짝수입니다.");
    } else {
        alert("홀수입니다.");
    }
    
    //조건 연산자
    var value2 = window.prompt("숫자를 입력해주세요");
        value2 = parseInt(value);    //숫자로 인식할 수 있도록 형 변환
    
    (value2 % 2 == 0) ? alert("짝수입니다.") : alert("홀수입니다.");
&lt;/script&gt;

&lt;script&gt;
    var count = 0;
    while(true){
        count++;
        document.write(count);
        document.write("&lt;br&gt;");
        
        if(count &gt; 9){
            break;
        }
    }
&lt;/script&gt;

&lt;script&gt;
    //100보다 작은 숫자에서 4의 배수 6의 배수 출력하기
    //초기값설정 
    var i = 1;
    
    while(i&lt;=100){      //i가 100보다 작거나 같을 때까지 반복 실행합니다.
        if(i%4 == 0 && i%6 == 0){
            document.write(i,"&lt;br&gt;");
        }
        i++;
    }
&lt;/script&gt;

&lt;script&gt;
    //100보다 작은 숫자에서 짝수는 파란색, 홀수는 빨간색 출력하기
    var i = 100;
    while(i&gt;0){
        if(i%2 == 0){
            document.write("&lt;span style='color:blue;'&gt;"+ i +"&lt;/span&gt;","&lt;br&gt;");
        } else {
            document.write("&lt;span style='color:red;'&gt;"+ i +"&lt;/span&gt;","&lt;br&gt;");
        }
        i--;
    }
&lt;/script&gt;

&lt;script&gt;
    var count = 0;
    do{
        count++;
        document.write(count,"&lt;br&gt;")
    }while(count&lt;9);
&lt;/script&gt;

&lt;script&gt;
//        //0~100까지 출력
//        for(var i=0; i&lt;=100; i++){
//            document.write("숫자"+i,"&lt;br&gt;");
//        }
//        //1-100까지 출력
//        for(var i=1; i&lt;=100; i++){
//            document.write("숫자"+i,"&lt;br&gt;");
//        }
//        //1-100중에서 짝수만 출력
//        for(var i=0; i&lt;=100;  i+=2){
//            document.write("숫자"+i,"&lt;br&gt;");
//        }
    //1-100중에서 홀수만 출력
    for(var i=1; i&lt;=100;  i+=2){
        document.write("숫자"+i,"&lt;br&gt;");
    }
&lt;/script&gt;

&lt;script&gt;
    //1~100까지 출력
    for(var i=1; i&lt;=100; i++){
        //5의 배수는 파란색, 7의 배수는 빨간색, 5와 7의 배수는 검은색 출력하기
        
        if(i%5 == 0 && i%7!==0){    //5의 배수이고 7의 배수가 아닌 경우
           document.write("&lt;span style='color:blue'&gt;"+i+"&lt;/span&gt;","&lt;br&gt;");
        } else if(i%7 == 0 && i%5!==0){     //7의 배수이고 5의 배수가 아닌 경우
            document.write("&lt;span style='color:red'&gt;"+i+"&lt;/span&gt;","&lt;br&gt;");
        } else if(i%5 == 0 && i%7 == 0){    //7의 배수이고 5의 배수인 경우
            document.write("&lt;span style='color:black'&gt;"+i+"&lt;/span&gt;","&lt;br&gt;");
        }
    }
&lt;/script&gt;

&lt;script&gt;
    var arr = new Array(100,200,300,400,500,600,700,800);
    var sum = 0;
                    //8 = i&lt;8
    for(var i=0; i&lt;arr.length; i++){
        sum = sum + arr[i];
//             0  =  0  + arr[0]=(100);
//            100 = 100 + arr[1]=(200);
//            300 = 300 + arr[2]=(300);
//            600 = 600 + arr[3]=(400);
//            1000 = 1000 + arr[4]=(500);
    }
    document.write(sum);
&lt;/script&gt;

&lt;script&gt;
    for(var i=0; i&lt;8; i++){
        for(var j=0; j&lt;9; j++){
            var num1 = i + 2;
            var num2 = j + 1;
            var sum = num1 + num2;
            document.write( num1 + "X" + num2 + "=" + sum);
            document.write("&lt;br&gt;");
        }
    }
//        var i * j = sum
//            2 * 1 = 2       3 * 1 = 3
//            2 * 2 = 4       3 * 2 = 6
//            2 * 3 = 6       
//            2 * 4 = 8
//
//        i = 2,3,4,5,6,7,8,9
//        j = 1,2,3,4,5,6,7,8,9
&lt;/script&gt;

&lt;script&gt;
    var num = 1;
    var t = "&lt;table border='1'&gt;"; //테이블 시작 태그
    
    for(var i=1; i&lt;=10; i++){
        t += "&lt;tr&gt;";
        
        for(var k=1; k&lt;=10; k++){
            t += "&lt;td&gt;" + num +"&lt;/td&gt;";
            num++;
        }
        
        t +="&lt;/tr&gt;";
    }
    t += "&lt;/table&gt;";
    
    document.write(t);
&lt;/script&gt;

&lt;script&gt;
    var count = 0;
    while(true){
        count++;
        if(count == 3){
            continue;
        }
        document.write(count,"&lt;br&gt;");
        
        if(count &gt; 9){
            break;
        }
    }
&lt;/script&gt;

&lt;script&gt;
    //    for문으로 
    //    1. 블랙입니다.
    //    2. 블랙입니다.
    //    3. 블랙입니다.
    //    ....
    //    100. 블랙입니다.
    
    //        for(var i=0; i&lt;=100; i++){
    //            document.write(i+".블랙입니다","&lt;br&gt;&lt;br&gt;");
    //       }
            
    //    for문으로 
    //    1. 블루입니다.
    //    2. 블루입니다.
    //    3. 블루입니다.
    //    ....
    //    100. 블루입니다.
            
    //        for(var i=0; i&lt;=100; i++){
    //            document.write(i+ ".블루입니다", "&lt;br&gt;&lt;br&gt;")
    //        }
    
    //    for문으로 
    //    1. 레드입니다.
    //    2. 레드입니다.
    //    3. 레드입니다.
    //    ....
    //    100. 레드입니다.
            
    //        for(var i=0; i&lt;=100; i++){
    //            document.write(i+ ".레드입니다", "&lt;br&gt;&lt;br&gt;")
    //        }
            
            function Show(name){
                for(var i=0; i&lt;=100; i++){
                document.write(i+"." + name +"입니다","&lt;br&gt;");
                }
            }
            
            Show("수호");
            Show("시현");
            Show("레드");
        
        &lt;/script&gt;

        &lt;script&gt;
            //선언적 함수 : 일반적인 함수의 형태이며, 함수 이름을 설정하고 함수를 호출 해야 합니다.
            function fun1(){
                document.write("fun1이 실행되었습니다.");
                document.write("&lt;br&gt;");
            }
    
            fun1();
            fun1();
            
            //익명 함수 : 변수 안에 함수가 들어간 형태로 함수의 이름이 존재하지 않어 익명함수라고 부릅니다.
            var fun2 = function(){
                document.write("fun2이 실행되었습니다.");
                document.write("&lt;br&gt;");
            }
            
            fun2();
            fun2();
            
            //매개 변수가 있는 함수 : 함수 외부에서 함수 내부로 데이터를 전달하기 위해 사용하는 경우
            function fun3(name){
                document.write(name+ "실행되었습니다.");
                document.write("&lt;br&gt;");
            }
            
            fun3("fun3");
            fun3("fun3");
            
           //리턴값이 잇는 함수
            function fun4(){
                var now = new Date();      //현제 시간을 구해오는 객체 데이터
                var hour = now.getHours(); //현제 시간에서 시(hour)를 변수에 할당
                return hour;
            }
            
            var value = fun4();
            document.write(value);
&lt;/script&gt;

&lt;script&gt;
    var x = window.screenX;
    var y = window.screenY;

    alert("현제 브라우저의 좌표 값 :" + x + "," + y);
&lt;/script&gt;

&lt;script&gt;
    var x = window.innerWidth;
    var y = window.innerHeight;
    
    alert("현재 컨텐츠 영역의 크기 :" + x +"," + y);
&lt;/script&gt;

&lt;script&gt;
    //setInterval(); : 지정한 시간마다 함수를 실행 &lt;--&gt; ClearInterval();
    //setTimeOut();  : 지정한 시간 후 한번만 실행  &lt;--&gt; ClearTimeOut();
    
    function func(){
        document.write("setInterval이 실행되었습니다.");
        document.write("&lt;br&gt;");
    }
    
    setInterval(func,1000);
&lt;/script&gt;

&lt;script&gt;
    document.write("appCodeName: "+navigator.appCodeName,"&lt;br /&gt;");
    document.write("appName: "+navigator.appName,"&lt;br /&gt;");
    document.write("appVersion: "+navigator.appVersion,"&lt;br /&gt;");
    document.write("language: "+navigator.language,"&lt;br /&gt;");
    document.write("product: "+navigator.product,"&lt;br /&gt;");
    document.write("platform: "+navigator.platform,"&lt;br /&gt;");
    document.write("userAgent: "+navigator.userAgent,"&lt;br /&gt;");
&lt;/script&gt;

&lt;script&gt;
    function info1(){
          /* 브라우저 및 운영체제 종합정보를 반환후 모두 소문자로 바꿉니다.*/
          var os=navigator.userAgent.toLowerCase();
      
          /*요소 중 id의 값이 "info_wrap"은 요소 객체를 가져옵니다.*/
          var info_wrap=document.getElementById("info_wrap");
    
          /*navigator객체를 이용해 반환받은 정보에 다음과 같은 문자가 포함되어 있으면  운영체제 명을 지정한 요소 사이에 텍스트로 출력합니다.*/
          if(os.indexOf('windows')&gt;=0){
             info_wrap.innerHTML="윈도우";
          }else if(os.indexOf('macintosh')&gt;=0){
             info_wrap.innerHTML="메킨토시";
          }else if(os.indexOf('iphone')&gt;=0){
             info_wrap.innerHTML="아이폰";
          }else if(os.indexOf('android')&gt;=0){
             info_wrap.innerHTML="안드로이드";
          }
    }
    function info2(){
          /*스크린 너비와 높이 값을 가져와 각각의 변수에 저장합니다.*/
          var sc_w=screen.width;
          var sc_h=screen.height;
    
          /*요소 중 id의 값이 "info_wrap"은 요소 객체를 가져옵니다.*/      
          var info_wrap=document.getElementById("info_wrap");
    
          /*스크린 너비와 높이 값을 지정한 요소에 텍스트로 출력합니다. */
          info_wrap.innerHTML=sc_w+"X"+sc_h;
    
          //3초 후에 스크린 정보를 지웁니다.
          //setTimeout("info_wrap.innerHTML=''",3000); 
    }	
&lt;/script&gt;

&lt;script&gt;
    document.write("width:" + screen.width,"&lt;br&gt;");
    document.write("height:" + screen.height,"&lt;br&gt;");
    document.write("availWidth:" + screen.availWidth,"&lt;br&gt;");
    document.write("availHeight:" + screen.availHeight,"&lt;br&gt;");
    document.write("colorDepth:" + screen.colorDepth,"&lt;br&gt;");
&lt;/script&gt;

&lt;script&gt;
function myFunction() {
    var str = "Hello World!";
    var res = str.toUpperCase();
    document.getElementById("demo").innerHTML = res;
    // HELLO WORLD! 가 출력됨
}
&lt;/script&gt;

&lt;script&gt;
function myFunction() {
    var d = new Date();
    var n = d.toLocaleString();
    document.getElementById("demo").innerHTML = n;
}
&lt;/script&gt;

&lt;script&gt;
function myFunction() {
    var x = 10;
    var y = 20;
    var a = eval("x * y") + "&lt;br&gt;";
    var b = eval("2 + 2") + "&lt;br&gt;";
    var c = eval("x + 17") + "&lt;br&gt;";

    var res = a + b + c;
    document.getElementById("demo").innerHTML = res;
}
&lt;/script&gt;

// 여기서 g는 글로벌을 뜻함
// 모든 l을 bbb로 치환해라 
document.write("str.replace('l','bbb')) 정규식 g => "+str.replace(/l/g,'bbb'));
document.write("<br>");
// 여기서 i는 대소문자 구분하지 않음을 뜻함
document.write("str.replace('l','bbb')) 정규식 gi => "+str.replace(/l/gi,'bbb'));

